* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #16181C), url('https://cdn.glitch.global/6e46548a-2923-41f7-86e2-880d7da16f88/landing.png?v=1691459121393');
    background-size: cover;
    background-repeat: no-repeat;

    background-color: #16181C;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;

    background-color: #21242D;
    border-radius: 20px;
    padding: 2rem;
}

.card p {
    font-size: 1.2rem;
    margin-top: 0.4rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

a {
    color: #1BD96A;
}

.btn {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #1BD96A;
    border: 1px solid #1BD96A;
    color: #000;
}

.mastadon:hover {
    background-color: #5B4ADF;
    border: 1px solid #5B4ADF;
    color: #000;
}

.discord:hover {
    background-color: #5865F2;
    border: 1px solid #5865F2;
    color: #000;
}

.birdapp:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
}